---
// Component Imports
import MainHead from '../components/MainHead.astro';
import Footer from '../components/Footer/index.jsx';
import Typer from '../components/Typer.astro';

const words = [
  'loquaciously',
  'professionally',
  'eloquently',
  'histrionically',
]

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<MainHead
			title="Nate Emerson: :wizardemoji: of the Web"
			description="Nate Emerson - I make software for the web."
		/>
		<style lang="scss">
		</style>
	</head>
	<body class="bg-gradient-to-tl from-gray-900 to-gray-600 bg-gradient-to-r">
			<Typer preamble="Nate Codes" words={words}></Typer>
			<Footer />
	</body>
</html>
